<!-- $BeginBlock BOX_FILMY -->
<div class="box">
    <div style="float: left;">
        <h1>Filmy</h1>    
    </div>
    <table class="CSSTableGenerator" id="tableFilmy">
        <thead>
        <tr>
            <th>nazwa filmu</td>
            <th style="width: 100px;">edytuj</td>
            <th style="width: 100px;">usun</td>
        </tr>
        </thead>
        <tbody>
        <!-- $BeginBlock BOX_FILMY_FILM -->
        <tr>
            <td>${NAZWA} <!--(${DATA_PREMIERY})-->[długość: ${DLUGOSC}min]</td>
            <td>${EDYTUJ}</td>
            <td>${USUN}</td>
        </tr>
        <!-- $EndBlock BOX_FILMY_FILM -->
        </tbody>
    </table>
    <div class="paging"></div>
</div>
<!-- $EndBlock BOX_FILMY -->
<!-- $BeginBlock BOX_FILMY_ADDEDIT -->
<div class="box">
    <h3>${NAME_FUNCTION}</h3>
    <form action="filmy.php?mod=${MOD}" method="post">
        <p>
            <input type="hidden" name="id" value="${ID}"/>
            <label>Nazwa filmu</label>
            <input type="text" name="nazwa" value="${NAZWA}" required />
            <label>Długość</label>
            <input type="text" name="dlugosc" value="${DLUGOSC}" />
            <label>Data premiery</label>
            <input type="text" name="data_premiery" value="${DATA_PREMIERY}" id="data_premiery"/>
            <label>Gatunek</label>
            <input type="text" name="gatunek" value="${GATUNEK}"/>
        </p>
        <p>
            <input class="button" type="submit" value="${NAME_FUNCTION}"/>
        </p>
    </form>
</div>
<!-- $EndBlock BOX_FILMY_ADDEDIT -->