<!-- $BeginBlock BOX_ADD_USERROLE -->
<div class="box">
    <h3>Dodaj nowa role użytkownika</h3>
    <form action="roles.php?mod=adduserroletodb" method="post">
        <p>
            <label>Nazwa użytkownika</label>
            <input name="user_name" id="user_name"/>
            <label>Nazwa roli</label>
            <input name="role_name" id="role_name"/>
        </p>
        <p>
            <input class="button" type="submit" value="Dodaj nowa role uzytkownikowi"/>
        </p>
    </form>
</div>
<!-- $EndBlock BOX_ADD_USERROLE -->
<!-- $BeginBlock BOX_LISTUSERROLES -->
<div class="box">
    <h1>Lista roli użytkowników</h1>
    <table class="CSSTableGenerator">
        <tr>
            <td>login</td>
            <td style="width: 200px;">role</td>
        </tr>
        <!-- $BeginBlock BOX_LISTUSERROLES_USER -->
        <tr>
            <td>${LOGIN}</td>
            <td>
                <!-- $BeginBlock BOX_LISTUSERROLES_USER_ROLE -->
                ${NAZWA_ROLI} <a href="roles.php?mod=deleteUserRole&user_id=${USER_ID}&role_id=${ROLE_ID}">[usuń]</a><br/>
                <!-- $EndBlock BOX_LISTUSERROLES_USER_ROLE -->
            </td>
        </tr>
        <!-- $EndBlock BOX_LISTUSERROLES_USER -->
    </table>
</div>
<!-- $EndBlock BOX_LISTUSERROLES -->