<!-- $BeginBlock BOX_ROLES -->
<div class="box">
    <div style="float: left;">
        <h1>Role</h1>
    </div>
    <table class="CSSTableGenerator" id="table">
        <thead>
        <tr>
            <th>nazwa roli</th>
            <th style="width: 100px;">edytuj</th>
            <th style="width: 100px;">usun</th>
        </tr>
        </thead>
        <tbody>
        <!-- $BeginBlock BOX_ROLES_ROLE -->
        <tr>
            <td>${NAZWA}</td>
            <td>${EDYTUJ}</td>
            <td>${USUN}</td>
        </tr>
        <!-- $EndBlock BOX_ROLES_ROLE -->
        </tbody>
    </table>
    <div class="paging"></div>
</div>
<!-- $EndBlock BOX_ROLES -->
<!-- $BeginBlock BOX_ADD_ROLE -->
<div class="box">
    <h3>${NAME_FUNCTION}</h3>
    <form action="roles.php?mod=${MOD}" method="post">
        <h2>Nazwa roli</h2>
        <p style="padding: 0px; margin: 0px; margin-left: 15px;">
            <input type="text" name="role_name" value="${ROLE_NAME}" required />
            <input type="hidden" name="role_id" value="${ROLE_ID}"/>
        </p>
        <h2>Przywileje</h2>
        <div class="form_permissions">
            <div>
            <table class="simpleTable" style="width: 600px;">
                <tr>
                    <th style="width: 30px;"><input type="checkbox" onclick="$('#permissionsTable').find('tr').find('td input:checkbox').prop('checked',this.checked);"/></th>
                    <th><input type="text" id="searchTable"/> szukaj</th>
                    <th style="width: 50px;">SELECT</th>
                    <th style="width: 50px;">INSERT</th>
                    <th style="width: 50px;">UPDATE</th>
                    <th style="width: 50px;">DELETE</th>
                </tr>
            </table>
            </div>
            <div id="permissionsTableContent">
            <table style="width: 600px;" class="simpleTable" id="permissionsTable">
                <!-- $BeginBlock BOX_ADD_ROLE_TABLE -->
                <tr>
                    <td style="width: 30px;"><input type="checkbox" onclick="$(this).closest('tr').find('td input:checkbox').prop('checked',this.checked);"/></td>
                    <td>${TABLE}</td>
                    <td style="width: 50px;"><input type="checkbox" name="perm[]" value="${TABLE}-select" ${CHECKED_SELECT}/></td>
                    <td style="width: 50px;"><input type="checkbox" name="perm[]" value="${TABLE}-insert" ${CHECKED_INSERT}/></td>
                    <td style="width: 50px;"><input type="checkbox" name="perm[]" value="${TABLE}-update" ${CHECKED_UPDATE}/></td>
                    <td style="width: 50px;"><input type="checkbox" name="perm[]" value="${TABLE}-delete" ${CHECKED_DELETE}/></td>
                </tr>
                <!-- $EndBlock BOX_ADD_ROLE_TABLE -->
            </table>
            </div>
            <p>
                <input class="button" type="submit" value="${NAME_FUNCTION}"/>
            </p>
            <div style="clear: both;">&nbsp;</div>
        </div>

    </form>
</div>
<!-- $EndBlock BOX_ADD_ROLE -->