<!-- $BeginBlock BOX_SEANS -->
<div class="box">
    <div style="float: left;">
        <h1>Seanse</h1>
    </div>
    <table class="CSSTableGenerator" id="tableSeans">
        <thead>
        <tr>
            <th>nazwa seansu</th>
            <th>data i godzina</th>
            <th style="width: 100px;">edytuj</th>
            <th style="width: 100px;">usun</th>
        </tr>
        </thead><tbody>
        <!-- $BeginBlock BOX_SEANS_ITEM -->
        <tr>
            <td>${NAZWA} [długość: ${DLUGOSC}min]<!--(${datatime_seansu})--></td>
            <td>${DATATIME_SEANSU}</td>
            <td>${EDYTUJ}</td>
            <td>${USUN}</td>
        </tr>
        <!-- $EndBlock BOX_SEANS_ITEM -->
    </tbody>
    </table>
    <div class="paging"></div>
</div>
<!-- $EndBlock BOX_SEANS -->
<!-- $BeginBlock BOX_SEANS_ADDEDIT -->
<div class="box">
    <h3>${NAME_FUNCTION}</h3>
    <form action="seans.php?mod=${MOD}" method="post">
        <p>
            <input type="hidden" name="id" value="${ID}"/>
            <label>Nazwa seansu</label>
            <input type="text" name="nazwa" value="${NAZWA}" required />
            <label>Długość</label>
            <input type="text" name="dlugosc" value="${DLUGOSC}" />
            <label>Data i godzina seansu</label>
            <input type="text" name="datatime_seansu" value="${DATATIME_SEANSU}" id="datatime_seansu"/>
            <label>Film</label>
            <input type="text" name="film_nazwa" value="${FILM_NAZWA}" id="film_nazwa">
            <input type="hidden" name="film_id" value="${FILM_ID}" id="film_id">
        </p>
        <p>
            <input class="button" type="submit" value="${NAME_FUNCTION}"/>
        </p>
    </form>
</div>
<!-- $EndBlock BOX_SEANS_ADDEDIT -->