<!-- $BeginBlock BOX_SPRZEDAZBILETOW -->
<div class="box">
    <div style="float: left;">
        <h1>Historia sprzedaży biletów</h1>
    </div>
    <table class="CSSTableGenerator" id="table">
        <thead>
        <tr>
            <th>seans</th>
            <th>płatność</th>
            <th>data sprzedazy</th>
            <th>cena</th>
            <th>edytuj</th>
            <th>usun</th>
        </tr>
        </thead>
        <tbody>
        <!-- $BeginBlock BOX_SPRZEDAZBILETOW_ITEM -->
        <tr>
            <td>${SEANS}</td>
            <td>${FORMA_PLATNOSCI}</td>
            <td>${DATATIME_SPRZEDAZY}</td>
            <td>${CENA}</td>
            <td>${EDYTUJ}</td>
            <td>${USUN}</td>
        </tr>
        <!-- $EndBlock BOX_SPRZEDAZBILETOW_ITEM -->
        </tbody>
    </table>
    <div class="paging"></div>
</div>
<!-- $EndBlock BOX_SPRZEDAZBILETOW -->
<!-- $BeginBlock BOX_SPRZEDAZBILETOW_ADDEDIT -->
<div class="box">
    <h3>${NAME_FUNCTION}</h3>
    <form action="sprzedazbiletow.php?mod=${MOD}" method="post">
        <p id="sprzedazbiletu_typbiletu">
            <label>Wybierz typ biletu:</label>
            <!-- $BeginBlock BOX_SPRZEDAZBILETOW_ADDEDIT_TYP -->
            <input type="radio" id="typbiletu${TYP_ID}" name="typy_biletow_id" value="${TYP_ID}" ${CHECKED_TYP} required/><label for="typbiletu${TYP_ID}">${TYP_NAZWA} (${TYP_CENA}zł)</label>
            <!-- $EndBlock BOX_SPRZEDAZBILETOW_ADDEDIT_TYP -->
        </p>
        <p id="sprzedazbiletu_seans">
            <label>Wybierz seans:</label>
            <!-- $BeginBlock BOX_SPRZEDAZBILETOW_ADDEDIT_SEANS -->
            <input type="radio" id="seans${SEANS_ID}" name="seans_id" value="${SEANS_ID}" ${CHECKED_SEANS} required/>
            <label for="seans${SEANS_ID}">${SEANS_NAZWA} - ${SEANS_DATATIME_SEANSU}</label>
            <!-- $EndBlock BOX_SPRZEDAZBILETOW_ADDEDIT_SEANS -->
        </p>
        <p id="sprzedazbiletu_formaplatnosci">
            <label>Wybierz formę płatności:</label>
            <input type="radio" id="formaplatnosciK" name="forma_platnosci" value="K" ${CHECKED_FP_K} required/>
            <label for="formaplatnosciK">Karta</label>
            <input type="radio" id="formaplatnosciG" name="forma_platnosci" value="G" ${CHECKED_FP_G} required/>
            <label for="formaplatnosciG">Gotówka</label>
            <input type="radio" id="formaplatnosciB" name="forma_platnosci" value="B" ${CHECKED_FP_B} required/>
            <label for="formaplatnosciB">Bon</label>
        </p>
        <p>
            <input type="hidden" name="id" value="${ID}"/>
            <input class="button" type="submit" value="${NAME_FUNCTION}"/>
        </p>
    </form>
</div>
<!-- $EndBlock BOX_SPRZEDAZBILETOW_ADDEDIT -->