<!-- $BeginBlock BOX_SPRZEDAZZYWNOSCI -->
<div class="box">
    <div style="float: left;">
        <h1>Historia sprzedaży żywności</h1>
    </div>
    <table class="CSSTableGenerator" id="table">
        <thead>
        <tr>
            <th>produkt</th>
            <th>płatność</th>
            <th>data sprzedazy</th>
            <th>cena</th>
            <th style="width: 100px;">edytuj</th>
            <th style="width: 100px;">usun</th>
        </tr>
        </thead>
        <tbody>
        <!-- $BeginBlock BOX_SPRZEDAZZYWNOSCI_ITEM -->
        <tr>
            <td>${NAZWA}</td>
            <td>${FORMA_PLATNOSCI}</td>
            <td>${DATATIME_SPRZEDAZY}</td>
            <td>${CENA}</td>
            <td>${EDYTUJ}</td>
            <td>${USUN}</td>
        </tr>
        <!-- $EndBlock BOX_SPRZEDAZZYWNOSCI_ITEM -->
        </tbody>
    </table>
    <div class="paging"></div>
</div>
<!-- $EndBlock BOX_SPRZEDAZZYWNOSCI -->
<!-- $BeginBlock BOX_SPRZEDAZZYWNOSCI_ADDEDIT -->
<div class="box">
    <h3>${NAME_FUNCTION}</h3>
    <form action="sprzedazzywnosci.php?mod=${MOD}" method="post">
        <p id="sprzedazzywnosci_zywnosc">
            <label>Wybierz zywnosc:</label>
            <!-- $BeginBlock BOX_SPRZEDAZZYWNOSCI_ADDEDIT_ZYWNOSC -->
            <input type="radio" id="zywnosc${ZYWNOSC_ID}" name="zywnosc_id" value="${ZYWNOSC_ID}" ${CHECKED_ZYWNOSC} required/>
            <label for="zywnosc${ZYWNOSC_ID}">${ZYWNOSC_NAZWA} (${ZYWNOSC_CENA}zł)</label>
            <!-- $EndBlock BOX_SPRZEDAZZYWNOSCI_ADDEDIT_ZYWNOSC -->
        </p>
        <p id="sprzedazzywnosci_formaplatnosci">
            <label>Wybierz formę płatności:</label>
            <input type="radio" id="formaplatnosciK" name="forma_platnosci" value="K" ${CHECKED_FP_K} required/>
            <label for="formaplatnosciK">Karta</label>
            <input type="radio" id="formaplatnosciG" name="forma_platnosci" value="G" ${CHECKED_FP_G} required/>
            <label for="formaplatnosciG">Gotówka</label>
        </p>
        <p>
            <input type="hidden" name="id" value="${ID}"/>
            <input class="button" type="submit" value="${NAME_FUNCTION}"/>
        </p>
    </form>
</div>
<!-- $EndBlock BOX_SPRZEDAZZYWNOSCI_ADDEDIT -->