<!-- $BeginBlock BOX_TYPYBILETOW -->
<div class="box">
    <div style="float: left;">
        <h1>Typy biletów</h1>
    </div>
    <table class="CSSTableGenerator" id="table">
        <thead>
        <tr>
            <th>typ biletu</th>
            <th>cena</th>
            <th>status</th>
            <th style="width: 100px;">edytuj</th>
            <th style="width: 100px;">usun</th>
        </tr>
        </thead>
        <tbody>
        <!-- $BeginBlock BOX_TYPYBILETOW_ITEM -->
        <tr>
            <td>${NAZWA}</td>
            <td>${CENA}</td>
            <td>${STATUS_DLUGI}</td>
            <td>${EDYTUJ}</td>
            <td>${USUN}</td>
        </tr>
        <!-- $EndBlock BOX_TYPYBILETOW_ITEM -->
        </tbody>
    </table>
    <div class="paging"></div>
</div>
<!-- $EndBlock BOX_TYPYBILETOW -->
<!-- $BeginBlock BOX_TYPYBILETOW_ADDEDIT -->
<div class="box">
    <h3>${NAME_FUNCTION}</h3>
    <form action="typybiletow.php?mod=${MOD}" method="post">
        <p>
            <input type="hidden" name="id" value="${ID}"/>
            <label>Nazwa</label>
            <input type="text" name="nazwa" value="${NAZWA}" required />
            <label>Cena</label>
            <input type="text" name="cena" value="${CENA}" />
        </p>
        <p id="typybiletow_status">
            <label>Status</label>
            <input type="radio" id="radioA" name="status" value="A" ${CHECKED_STATUS_A}/><label for="radioA">Aktualne</label>
            <input type="radio" id="radioZ" name="status" value="Z" ${CHECKED_STATUS_Z}/><label for="radioZ">Zakończone</label>
        </p>
        <p>
            <input class="button" type="submit" value="${NAME_FUNCTION}"/>
        </p>
    </form>
</div>
<!-- $EndBlock BOX_TYPYBILETOW_ADDEDIT -->