<!-- $BeginBlock BOX_LOGIN -->
<div class="box">
    <h1>Logowanie</h1>

    <form action="login.php?mod=login" method="post">
        <p>
            <label>Login</label>
            <input name="login" value="" type="text" size="30"/>
            <label>Haslo</label>
            <input name="password" value="" type="password" size="30"/>
        </p>
        <p>
            <input type="submit" value="Zaloguj"/>
        </p>
    </form>
</div>
<!-- $EndBlock BOX_LOGIN -->
<!-- $BeginBlock BOX_SELECTROLE -->
<div id="box">
    <h1>Logowanie - wybór roli</h1>
    <form action="login.php?mod=selectrole" method="post">
        <p>
            <label>Wybierz rolę</label>
            <select name="role">
                <!-- $BeginBlock BOX_SELECTROLE_ROLE -->
                <option value="${ROLE_ID}" ${SELECTED}>${ROLE_NAME}</option>
                <!-- $EndBlock BOX_SELECTROLE_ROLE -->
            </select>
            <button type="submit">Wybierz rolę</button>
            <a href="login.php?mod=logout">[Wyloguj]</a>
            <!-- $BeginBlock BOX_SELECTROLE_SESSIONS -->
            <label><br />Aktywne sesje</label>
            <ul>
                <!-- $BeginBlock BOX_SELECTROLE_SESSIONS_ITEM -->
                <li>${IP} - ${BROWSER}</li>
                <!-- $EndBlock BOX_SELECTROLE_SESSIONS_ITEM -->
            </ul>
            <!-- $EndBlock BOX_SELECTROLE_SESSIONS -->

        </p>
    </form>

</div>
<!-- $EndBlock BOX_SELECTROLE -->
<!-- $BeginBlock BOX_EDIT_ACCOUNT -->
<div class="box">
    <h1>Edycja konta</h1>
    <form action="users.php?mod=editusertodb#" method="post">
        <p>
            <label>Login</label>
            <input name="id" value="${ID}" type="hidden"/>
            <input name="login" value="${LOGIN}" type="text"/>
            <label>Email</label>
            <input name="email" value="${EMAIL}" type="text"/>
            <label>Nowe haslo</label>
            <input name="new_pass" value="" type="password"/> &nbsp; /* jezeli nie chcesz zmieniac hasla,
            pozostaw puste */
        </p>
        <p>
            <input type="submit" value="Edytuj profil"/>
        </p>
    </form>
</div>
<!-- $EndBlock BOX_EDIT_ACCOUNT -->
<!-- $BeginBlock BOX_EDIT_MYACCOUNT -->
<div class="box">
    <h1>Ustawienia mojego konta</h1>
    <script type="text/javascript">
        $(function () {
            $("#uk_tabs").tabs();
        });
    </script>
    <div id="uk_tabs">
        <!--<ul>
            <li><a href="#uk_tabs-1">Profil</a></li>
            <li><a href="#uk_tabs-2">Zmien haslo</a></li>
            <li><a href="#uk_tabs-3">Usuwanie konta</a></li>
        </ul>-->
        <!-- $BeginBlock BOX_EDIT_MYACCOUNT_PROFILE -->
        <h3>Profil</h3>
        <div id="uk_tabs-1">
            <form action="users.php?mod=editMyEmail#uk_tabs-2" method="post">
                <p>
                    <!--<label>Login</label>
                    <input name="login" value="${LOGIN}" type="text" /> &nbsp; /* niezmienialny */ -->
                    <label>Email</label>
                    <input name="email" value="${EMAIL}" type="text"/>
                </p>

                <p>
                    <input type="submit" value="Edytuj email"/>
                </p>
            </form>
        </div>
        <h3>Zmień Hasło</h3>
        <div id="uk_tabs-2">
            <form action="users.php?mod=editMyPassword" method="post">
                <p>
                    <label>Obecne haslo</label>
                    <input name="old_pass" value="" type="password"/>
                    <label>Nowe haslo</label>
                    <input name="new_pass" value="" type="password"/>
                    <label>Powtórz nowe haslo</label>
                    <input name="new_pass2" value="" type="password"/>
                </p>

                <p>
                    <input type="submit" value="Zmien haslo"/>
                </p>
            </form>
        </div>
        <!-- $EndBlock BOX_EDIT_MYACCOUNT_PROFILE -->
        <!-- $BeginBlock BOX_EDIT_MYACCOUNT_DELETE -->
        <h3>Usuń konto</h3>
        <div id="uk_tabs-3">
            <form action="users.php?mod=deleteMyAccount" method="post">
                <p>
                    <label>podaj haslo w celu potwierdzenia</label>
                    <input name="pass" value="" type="password"/>
                    <label><input name="usunkonto" type="checkbox"/> Tak, na pewno chce usunac konto</label>
                </p>
                <p>
                    <input type="submit" value="Usun konto"/>
                </p>
            </form>
        </div>
        <!-- $EndBlock  BOX_EDIT_MYACCOUNT_DELETE -->
    </div>
</div>
<!-- $EndBlock BOX_EDIT_MYACCOUNT -->
<!-- $BeginBlock BOX_REGISTER -->
<div class="box">
    <h1>Rejestracja</h1>

    <form name="registerForm" action="login.php?mod=submitregister" method="post">
        <p>
            <label>Login</label>
            <input name="login" value="${login}" type="text" size="30" required/>
            <label>Email</label>
            <input name="email" value="${email}" type="text" size="30" required/>
            <label>Haslo</label>
            <input name="password" value="" type="password" size="30" required/>
            <label>Powtórz haslo</label>
            <input name="password2" value="" type="password" size="30" required/>
        </p>

        <p>
            <label><input name="acceptTerms" type="checkbox" required/> Przeczytalem, oraz akceptuje
                regulamin obowiazujacy na stronie</label>
            <input type="submit" value="Zarejestruj"/>
        </p>
    </form>
</div>
<!-- $EndBlock BOX_REGISTER -->
<!-- $BeginBlock BOX_LISTUSER -->
<div class="box">
    <div style="float: left;">
        <h1>Lista uzytkowników</h1>
    </div>
    <table class="CSSTableGenerator" id="table">
        <thead>
        <tr>
            <th>login</th>
            <th style="width: 100px;">opcje</th>
            <th style="width: 100px;">edytuj</th>
            <th style="width: 100px;">usun</th>
        </tr>
        </thead>
        <tbody>
        <!-- $BeginBlock BOX_LISTUSER_USER -->
        <tr>
            <td>${LOGIN}</td>
            <td>${OPCJE}</td>
            <td>${EDYTUJ}</td>
            <td>${USUN}</td>
        </tr>
        <!-- $EndBlock BOX_LISTUSER_USER -->
        </tbody>
    </table>
    <div class="paging"></div>
</div>
<!-- $EndBlock BOX_LISTUSER -->