<!-- $BeginBlock BOX_USTERKA -->
<div class="box">
    <div style="float: left;">
        <h1>Usterki</h1>
    </div>
    <table class="CSSTableGenerator" id="table">
        <thead>
        <tr>
            <th>Opis</th>
            <th>Ważność</th>
            <th>Data</th>
            <th>Status</th>
            <th style="width: 100px;">edytuj</th>
            <th style="width: 100px;">usun</th>
        </tr>
        </thead>
        <tbody>
        <!-- $BeginBlock BOX_USTERKA_ITEM -->
        <tr>
            <td>${OPIS}</td>
            <td>${WAZNOSC_DESC}</td>
            <td>${DATATIME_DODANIA}</td>
            <td>${STATUS_DESC}</td>
            <td>${EDYTUJ}</td>
            <td>${USUN}</td>
        </tr>
        <!-- $EndBlock BOX_USTERKA_ITEM -->
        </tbody>
    </table>
    <div class="paging"></div>
</div>
<!-- $EndBlock BOX_USTERKA -->
<!-- $BeginBlock BOX_USTERKA_ADDEDIT -->
<div class="box">
    <h3>${NAME_FUNCTION}</h3>
    <form action="usterka.php?mod=${MOD}" method="post">
        <p>
            <input type="hidden" name="id" value="${ID}"/>
            <label>Opis</label>
            <textarea type="text" name="opis" required>${OPIS}</textarea>
        </p>
        <p id="usterka_waznosc">
            <label>Ważność zgłoszenia</label>
            <input type="radio" id="waznosc1" name="waznosc" value="1" ${CHECKED_WAZNOSC_1}/><label for="waznosc1">drobny</label>
            <input type="radio" id="waznosc2" name="waznosc" value="2" ${CHECKED_WAZNOSC_2}/><label for="waznosc2">normalny</label>
            <input type="radio" id="waznosc3" name="waznosc" value="3" ${CHECKED_WAZNOSC_3}/><label for="waznosc3">ważny</label>
            <input type="radio" id="waznosc4" name="waznosc" value="4" ${CHECKED_WAZNOSC_4}/><label for="waznosc4">krytyczny</label>
            <input type="radio" id="waznosc5" name="waznosc" value="5" ${CHECKED_WAZNOSC_5}/><label for="waznosc5">natychmiastowy</label>
        </p>
        <p id="usterka_status">
            <label>Status zgłoszenia</label>
            <input type="radio" id="status1" name="status" value="N" ${CHECKED_STATUS_N}/><label for="status1">nowy</label>
            <input type="radio" id="status2" name="status" value="O" ${CHECKED_STATUS_O}/><label for="status2">odrzucony</label>
            <input type="radio" id="status3" name="status" value="P" ${CHECKED_STATUS_P}/><label for="status3">przyjęty</label>
            <input type="radio" id="status4" name="status" value="Z" ${CHECKED_STATUS_Z}/><label for="status4">zakończony</label>
        </p>
        <p>
            <input class="button" type="submit" value="${NAME_FUNCTION}"/>
        </p>
    </form>
</div>
<!-- $EndBlock BOX_USTERKA_ADDEDIT -->