<!-- $BeginBlock BOX_ZYWNOSC -->
<div class="box">
    <div style="float: left;">
        <h1>Żywność</h1>
    </div>
    <table class="CSSTableGenerator" id="table">
        <thead>
        <tr>
            <th>nazwa</th>
            <th>cena</th>
            <th style="width: 100px;">edytuj</th>
            <th style="width: 100px;">usun</th>
        </tr>
        </thead>
        <tbody>
        <!-- $BeginBlock BOX_ZYWNOSC_ITEM -->
        <tr>
            <td>${NAZWA}</td>
            <td>${CENA}</td>
            <td>${EDYTUJ}</td>
            <td>${USUN}</td>
        </tr>
        <!-- $EndBlock BOX_ZYWNOSC_ITEM -->
        </tbody>
    </table>
    <div class="paging"></div>
</div>
<!-- $EndBlock BOX_ZYWNOSC -->
<!-- $BeginBlock BOX_ZYWNOSC_ADDEDIT -->
<div class="box">
    <h3>${NAME_FUNCTION}</h3>
    <form action="zywnosc.php?mod=${MOD}" method="post">
        <p>
            <input type="hidden" name="id" value="${ID}"/>
            <label>Nazwa</label>
            <input type="text" name="nazwa" value="${NAZWA}" required />
            <label>Cena</label>
            <input type="text" name="cena" value="${CENA}" />
        </p>
        <p>
            <input class="button" type="submit" value="${NAME_FUNCTION}"/>
        </p>
    </form>
</div>
<!-- $EndBlock BOX_ZYWNOSC_ADDEDIT -->