<!-- $BeginBlock BOX_FILMY_ADDEDIT -->
<script type="text/javascript">
    $(function(){
        $("#data_premiery").datetimepicker({
            lang:'pl',
            timepicker:false,
            format:'Y-m-d',
            formatDate:'Y-m-d'
        });
    });
</script>
<!-- $EndBlock BOX_FILMY_ADDEDIT -->
<!-- $BeginBlock BOX_FILMY -->
<script type="text/javascript">
    $(function(){
        var canEdit = ${JS_CAN_EDIT};
        var canDelete = ${JS_CAN_DELETE};

        $("#tableFilmy").datatable({
            pageSize: 10,
            sort: [true, false, false],
            filters: [true, false, false],
            filterText: 'szukaj...',
            afterRefresh: function(){
                if(!canEdit)
                {
                    $('th:nth-child(2)').hide();
                    $('td:nth-child(2)').hide();
                }

                if(!canDelete)
                {
                    $('th:nth-child(3)').hide();
                    $('td:nth-child(3)').hide();
                }
            }
        });
    });
</script>
<!-- $EndBlock BOX_FILMY -->