<!-- $BeginBlock BOX_ADD_ROLE -->
<script type="text/javascript">
    $(function(){
        $("#searchTable").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#permissionsTable").find("tr").each(function(index) {
                if (index !== 0) {
                    $row = $(this);
                    var id = $row.find("td:nth-child(2)").text().toLowerCase();
                    if (id.indexOf(value) == -1) {
                        $row.hide();
                    }
                    else {
                        $row.show();
                    }
                }
            });
        });
    });
</script>
<!-- $EndBlock BOX_ADD_ROLE -->
<!-- $BeginBlock BOX_ROLES -->
<script type="text/javascript">
    $(function(){
        var canEdit = ${JS_CAN_EDIT};
        var canDelete = ${JS_CAN_DELETE};

        $("#table").datatable({
            pageSize: 10,
            sort: [true, false, false],
            filters: [true, false, false],
            filterText: 'szukaj...',
            afterRefresh: function(){
                if(!canEdit)
                {
                    $('th:nth-child(2)').hide();
                    $('td:nth-child(2)').hide();
                }

                if(!canDelete)
                {
                    $('th:nth-child(3)').hide();
                    $('td:nth-child(3)').hide();
                }
            }
        });
    });
</script>
<!-- $EndBlock BOX_ROLES -->