<!-- $BeginBlock BOX_SEANS_ADDEDIT -->
<script type="text/javascript">
    $(function(){
        $("#datatime_seansu").datetimepicker({
            lang:'pl',
            format: 'Y-m-d H:i'
        });

        var filmy = ${JS_FILMY};
        $("#film_nazwa").autocomplete({
            source: filmy,
            minLength: 0,
            select: function(event, ui){
                $("#film_id").val(ui.item.id);
            }
        });
    });
</script>
<!-- $EndBlock BOX_SEANS_ADDEDIT -->
<!-- $BeginBlock BOX_SEANS -->
<script type="text/javascript">
    $(function(){
        var canEdit = ${JS_CAN_EDIT};
        var canDelete = ${JS_CAN_DELETE};

        $("#tableSeans").datatable({
            pageSize: 10,
            sort: [true, true, false, false],
            filters: [true, true, false, false],
            filterText: 'szukaj...',
            afterRefresh: function(){
                if(!canEdit)
                {
                    $('th:nth-child(3)').hide();
                    $('td:nth-child(3)').hide();
                }

                if(!canDelete)
                {
                    $('th:nth-child(4)').hide();
                    $('td:nth-child(4)').hide();
                }
            }
        });
    });
</script>
<!-- $EndBlock BOX_SEANS -->