<!-- $BeginBlock BOX_SPRZEDAZZYWNOSCI_ADDEDIT -->
<script type="text/javascript">
    $(function(){
        $("#sprzedazzywnosci_formaplatnosci").buttonset();
        $("#sprzedazzywnosci_zywnosc").buttonset();
        $("#sprzedazzywnosci_zywnosc label").css('display','block');
        $("#sprzedazzywnosci_zywnosc label").css('width','400px');
    });
</script>
<!-- $EndBlock BOX_SPRZEDAZZYWNOSCI_ADDEDIT -->
<!-- $BeginBlock BOX_SPRZEDAZZYWNOSCI -->
<script type="text/javascript">
    $(function(){
        var canEdit = ${JS_CAN_EDIT};
        var canDelete = ${JS_CAN_DELETE};

        $("#table").datatable({
            pageSize: 10,
            sort: [true, true, true, true, false, false],
            filters: [true, 'select', true, false, false, false],
            filterText: 'szukaj...',
            afterRefresh: function()
            {
                if(!canEdit)
                {
                    $('th:nth-child(5)').hide();
                    $('td:nth-child(5)').hide();
                }

                if(!canDelete)
                {
                    $('th:nth-child(6)').hide();
                    $('td:nth-child(6)').hide();
                }
            }
        });



    });
</script>
<!-- $EndBlock BOX_SPRZEDAZZYWNOSCI -->