<!-- $BeginBlock BOX_SPRZEDAZBILETOW_ADDEDIT -->
<script type="text/javascript">
    $(function(){
        $("#sprzedazbiletu_typbiletu").buttonset();
        $("#sprzedazbiletu_formaplatnosci").buttonset();
        $("#sprzedazbiletu_seans").buttonset();
        $("#sprzedazbiletu_seans label").css('display','block');
        $("#sprzedazbiletu_seans label").css('width','400px');

        //$("#table").tablesorter({widthFixed: true, widgets: ['zebra']}).tablesorterPager({container: $("#pager")});

    });
</script>
<!-- $EndBlock BOX_SPRZEDAZBILETOW_ADDEDIT -->
<!-- $BeginBlock BOX_SPRZEDAZBILETOW -->
<script type="text/javascript">
    $(document).ready(function(){
        var canEdit = ${JS_CAN_EDIT};
        var canDelete = ${JS_CAN_DELETE};

        $("#table").datatable({
            pageSize: 10,
            sort: [true, true, true, true, false, false],
            filters: [true, 'select', true, false, false, false],
            filterText: 'szukaj...',
            afterRefresh: function(){
                if(!canEdit)
                {
                    $('th:nth-child(5)').hide();
                    $('td:nth-child(5)').hide();
                }

                if(!canDelete)
                {
                    $('th:nth-child(6)').hide();
                    $('td:nth-child(6)').hide();
                }
            }
        });

    });
</script>
<!-- $EndBlock BOX_SPRZEDAZBILETOW -->