<!-- $BeginBlock BOX_TYPYBILETOW_ADDEDIT -->
<script type="text/javascript">
    $(function(){
        $("#typybiletow_status").buttonset();
    });
</script>
<!-- $EndBlock BOX_TYPYBILETOW_ADDEDIT -->
<!-- $BeginBlock BOX_TYPYBILETOW -->
<script type="text/javascript">
    $(function(){
        var canEdit = ${JS_CAN_EDIT};
        var canDelete = ${JS_CAN_DELETE};



        $("#table").datatable({
            pageSize: 10,
            sort: [true, true, true, false, false],
            filters: ['select', 'select', 'select', false, false],
            filterText: 'szukaj...',
            afterRefresh: function(){
                if(!canEdit)
                {
                    $('th:nth-child(4)').hide();
                    $('td:nth-child(4)').hide();
                }

                if(!canDelete)
                {
                    $('th:nth-child(5)').hide();
                    $('td:nth-child(5)').hide();
                }
            }
        });
    });
</script>
<!-- $EndBlock BOX_TYPYBILETOW -->