<!-- $BeginBlock BOX_USTERKA_ADDEDIT -->
<script type="text/javascript">
    $(function(){
        $("#usterka_waznosc").buttonset();
        $("#usterka_status").buttonset();
    });
</script>
<!-- $EndBlock BOX_USTERKA_ADDEDIT -->
<!-- $BeginBlock BOX_USTERKA -->
<script type="text/javascript">
    $(function(){
        var canEdit = ${JS_CAN_EDIT};
        var canDelete = ${JS_CAN_DELETE};

        $("#table").datatable({
            pageSize: 10,
            sort: [true, true, true, true, false, false],
            filters: [true, 'select', true, 'select', false, false],
            filterText: 'szukaj...',
            afterRefresh: function(){
                if(!canEdit)
                {
                    $('th:nth-child(5)').hide();
                    $('td:nth-child(5)').hide();
                }

                if(!canDelete)
                {
                    $('th:nth-child(6)').hide();
                    $('td:nth-child(6)').hide();
                }
            }
        });
    });
</script>
<!-- $EndBlock BOX_USTERKA -->