<!-- $BeginBlock BOX_ZYWNOSC_ADDEDIT -->
<script type="text/javascript">
    $(function(){

    });
</script>
<!-- $EndBlock BOX_ZYWNOSC_ADDEDIT -->
<!-- $BeginBlock BOX_ZYWNOSC -->
<script type="text/javascript">
    $(function(){
        var canEdit = ${JS_CAN_EDIT};
        var canDelete = ${JS_CAN_DELETE};

        $("#table").datatable({
            pageSize: 10,
            sort: [true, true, false, false],
            filters: [true, false, false, false],
            filterText: 'szukaj...',
            afterRefresh: function(){
                if(!canEdit)
                {
                    $('th:nth-child(3)').hide();
                    $('td:nth-child(3)').hide();
                }

                if(!canDelete)
                {
                    $('th:nth-child(4)').hide();
                    $('td:nth-child(4)').hide();
                }
            }
        });
    });
</script>
<!-- $EndBlock BOX_ZYWNOSC -->