<!-- $BeginBlock MENU_SPRZEDAZBILETOW -->
<h1 class="clear">Sprzedaż biletów</h1>
<ul class="sidemenu">
    <!-- $BeginBlock MENU_SPRZEDAZBILETOW_LIST -->
    <li><a href="sprzedazbiletow.php?mod=list">Historia sprzedaży</a></li>
    <!-- $EndBlock MENU_SPRZEDAZBILETOW_LIST -->
    <!-- $BeginBlock MENU_SPRZEDAZBILETOW_ADD -->
    <li><a href="sprzedazbiletow.php?mod=add">Sprzedaż biletu</a></li>
    <!-- $EndBlock MENU_SPRZEDAZBILETOW_ADD -->
</ul>
<!-- $EndBlock MENU_SPRZEDAZBILETOW -->
<!-- $BeginBlock MENU_SPRZEDAZZYWNOSCI -->
<h1 class="clear">Sprzedaż żywności</h1>
<ul class="sidemenu">
    <!-- $BeginBlock MENU_SPRZEDAZZYWNOSCI_LIST -->
    <li><a href="sprzedazzywnosci.php?mod=list">Historia sprzedaży</a></li>
    <!-- $EndBlock MENU_SPRZEDAZZYWNOSCI_LIST -->
    <!-- $BeginBlock MENU_SPRZEDAZZYWNOSCI_ADD -->
    <li><a href="sprzedazzywnosci.php?mod=add">Sprzedaż żywności</a></li>
    <!-- $EndBlock MENU_SPRZEDAZZYWNOSCI_ADD -->
</ul>
<!-- $EndBlock MENU_SPRZEDAZZYWNOSCI -->
<!-- $BeginBlock MENU_FILM -->
<h1 class="clear">Filmy</h1>
<ul class="sidemenu">
    <!-- $BeginBlock MENU_FILM_LIST -->
    <li><a href="filmy.php?mod=list">Lista filmów</a></li>
    <!-- $EndBlock MENU_FILM_LIST -->
    <!-- $BeginBlock MENU_FILM_ADD -->
    <li><a href="filmy.php?mod=add">Dodaj film</a></li>
    <!-- $EndBlock MENU_FILM_ADD -->
</ul>
<!-- $EndBlock MENU_FILM -->
<!-- $BeginBlock MENU_SEANS -->
<h1 class="clear">Seanse</h1>
<ul class="sidemenu">
    <!-- $BeginBlock MENU_SEANS_LIST -->
    <li><a href="seans.php?mod=list">Lista seansów</a></li>
    <!-- $EndBlock MENU_SEANS_LIST -->
    <!-- $BeginBlock MENU_SEANS_ADD -->
    <li><a href="seans.php?mod=add">Dodaj seans</a></li>
    <!-- $EndBlock MENU_SEANS_ADD -->
</ul>
<!-- $EndBlock MENU_SEANS -->
<!-- $BeginBlock MENU_TYPYBILETOW -->
<h1 class="clear">Typy biletow</h1>
<ul class="sidemenu">
    <!-- $BeginBlock MENU_TYPYBILETOW_LIST -->
    <li><a href="typybiletow.php?mod=list">Lista typów biletów</a></li>
    <!-- $EndBlock MENU_TYPYBILETOW_LIST -->
    <!-- $BeginBlock MENU_TYPYBILETOW_ADD -->
    <li><a href="typybiletow.php?mod=add">Dodaj typ biletu</a></li>
    <!-- $EndBlock MENU_TYPYBILETOW_ADD -->
</ul>
<!-- $EndBlock MENU_TYPYBILETOW -->
<!-- $BeginBlock MENU_ZYWNOSC -->
<h1 class="clear">Żywność</h1>
<ul class="sidemenu">
    <!-- $BeginBlock MENU_ZYWNOSC_LIST -->
    <li><a href="zywnosc.php?mod=list">Lista zywnosci</a></li>
    <!-- $EndBlock MENU_ZYWNOSC_LIST -->
    <!-- $BeginBlock MENU_ZYWNOSC_ADD -->
    <li><a href="zywnosc.php?mod=add">Dodaj nową żywność</a></li>
    <!-- $EndBlock MENU_ZYWNOSC_ADD -->
</ul>
<!-- $EndBlock MENU_ZYWNOSC -->
<!-- $BeginBlock MENU_USTERKA -->
<h1 class="clear">Usterki</h1>
<ul class="sidemenu">
    <!-- $BeginBlock MENU_USTERKA_LIST -->
    <li><a href="usterka.php?mod=list">Lista usterek</a></li>
    <!-- $EndBlock MENU_USTERKA_LIST -->
    <!-- $BeginBlock MENU_USTERKA_ADD -->
    <li><a href="usterka.php?mod=add">Dodaj nową usterkę</a></li>
    <!-- $EndBlock MENU_USTERKA_ADD -->
</ul>
<!-- $EndBlock MENU_USTERKA -->
<!-- $BeginBlock MENU_PROFIL -->
<h1 class="clear">Użytkownicy</h1>
<ul class="sidemenu">
    <!-- $BeginBlock MENU_PROFIL_USERS -->
    <li><a href="users.php?mod=list">Lista uzytkowników</a></li>
    <!-- $EndBlock MENU_PROFIL_USERS -->
    <!-- $BeginBlock MENU_ADD_USER -->
    <li><a href="users.php?mod=adduser">Dodaj użytkownika</a></li>
    <!-- $EndBlock MENU_ADD_USER -->
</ul>
<!-- $EndBlock MENU_PROFIL -->
<!-- $BeginBlock MENU_ROLE -->
<h1 class="clear">Role</h1>
<ul class="sidemenu">
    <!-- $BeginBlock MENU_ROLE_LIST -->
    <li><a href="roles.php?mod=list#">Lista ról</a></li>
    <!-- $EndBlock MENU_ROLE_LIST -->
    <!-- $BeginBlock MENU_USERROLE_ADD -->
    <li><a href="roles.php?mod=userrole#">Przydzielanie roli</a></li>
    <!-- $EndBlock MENU_USERROLE_ADD -->
    <!-- $BeginBlock MENU_ROLE_ADD -->
    <li><a href="roles.php?mod=addrole#">Dodaj nowa role</a></li>
    <!-- $EndBlock MENU_ROLE_ADD -->
</ul>
<!-- $EndBlock MENU_ROLE -->